Repository ansys/scade-actions, pull requests merged in 2024-09, with the labels that each got.

#61 docs: Ignore the Google specific rules Colons and Headings
  doc/.vale.ini
Labels: documentation

#63 fix: pdf build docs action
  doc/source/conf.py
  requirements/requirements_doc.txt
Labels: bug

#64 feat: Add an action for generating report for SCADE Display model
  .github/workflows/ci_cd.yml
  display-report/SdyReportModel.bat
  display-report/action.yml
  display-report/get_sdy_document.py
  doc/source/conf.py
  doc/source/display-actions/examples/display-report.yml
  doc/source/display-actions/index.rst
  doc/source/index.rst
  pytest.ini
  tests/display-report/.gitignore
  tests/display-report/Model/Model.etp
  tests/display-report/Model/specification.sgfx
  tests/display-report/TestGetSdyDocument.bat
  tests/display-report/TestSdyReportModel.bat
  tests/display-report/test_get_sdy_document.py
Labels: enhancement

#65 feat: Add an action for generating configuration for SCADE Display model
  .github/workflows/ci_cd.yml
  display-generate/SdyGenerate.bat
  display-generate/action.yml
  display-generate/get_sdy_target_dir.py
  doc/source/display-actions/examples/display-generate.yml.txt
  doc/source/display-actions/index.rst
  doc/source/index.rst
  pytest.ini
  tests/display-generate/.gitignore
  tests/display-generate/CallTestGetSdyTargetDir.bat
  tests/display-generate/Model/Model.etp
  tests/display-generate/Model/specification.sgfx
  tests/display-generate/TestGetSdyTargetDir.bat
  tests/display-generate/TestSdyGenerateCode.bat
  tests/display-generate/test_get_sdy_target_dir.py
Labels: enhancement

#66 feat: Add an action for checking a specification for SCADE Display model
  .github/workflows/ci_cd.yml
  display-check/CheckSdyModel.bat
  display-check/action.yml
  doc/source/display-actions/examples/display-check.yml
  doc/source/display-actions/index.rst
  tests/display-check/.gitignore
  tests/display-check/Model/Model.etp
  tests/display-check/Model/specification.sgfx
  tests/display-check/Model/specificationNOK.sgfx
  tests/display-check/TestCheckSdyModel.bat
Labels: enhancement
